header {
  background-image: url("/assets/desktop_backgrounds.png"),
    url("/assets/top-section-image.png");
  background-size: cover;
  background-position: center, center;
}
header ul {
  display: flex;
  list-style: none;
}
.burger-btn {
  display: none;
}
.navigation {
  padding: 30px 150px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.navigation h3 a,
.navigation ul li a {
  font-family: Source Sans Pro;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--base-color);
}
.navigation ul li:hover {
  border-bottom: 2px solid white;
}
.navigation h3 a {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
}
.navigation ul li {
  transition: 500ms;
}
.navigation ul li a {
  font-size: 14px;
  letter-spacing: 0.2em;
}
.navigation ul {
  gap: 32px;
}
