.your-headline-here {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 180px 0 256px 0;
}
.your-headline-here img {
  max-width: 63px;
  transition: 0.2s ease-in-out;
}
.your-headline-here img:hover {
  transform: scaleX(-1) scale(1.3);
}
.your-headline-here h1 {
  color: var(--base-color);
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}
.your-headline-here h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
  opacity: 90%;
}
.mid-cont {
  margin: 87px 120px 100px 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid-cont h2 {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
.mid-cont h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-top: 40px;
  color: #666666;
}
.mid-cont p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-top: 40px;
}
.mid-cont button {
  display: flex;
  justify-content: center;
  font-family: Oswald;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  border: none;
  background: #55c2d8;
  padding: 6px 17px;
  text-transform: uppercase;
  border-radius: 18px;
  margin-top: 35px;
  transform-origin: top left;
  transition: 1s;
  cursor: pointer;
}
.mid-cont button:hover {
  transform: rotate(15deg);
}
.mid-cont-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 125px;
}
