@import "./variables.scss";
header {
  a {
    font-family: Source Sans Pro;
    text-decoration: none;
    color: $white;
  }
  background-image: url("/assets/desktop_backgrounds.png"),
    url("/assets/top-section-image.png");
  background-size: cover;
  background-position: center, center;
  .burger-btn {
    display: none;
  }
  .navigation {
    padding: 30px 150px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    ul {
      gap: 32px;
      display: flex;
      list-style: none;
      li {
        transition: 500ms;
        a {
          font-size: 14px;
          letter-spacing: 0.2em;
          line-height: 16px;
          text-transform: uppercase;
        }
      }
    }
  }
  h3 a,
  ul li:hover {
    border-bottom: 2px solid white;
  }
  h3 a {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}
