@import "./variables.scss";

.your-headline-here {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 180px 0 256px 0;
  img {
    max-width: 63px;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: scaleX(-1) scale(1.3);
    }
  }
  h1,
  h2 {
    font-style: normal;
    text-align: center;
  }
  h1 {
    color: $white;
    font-family: Oswald;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
  }
  h2 {
    font-family: Source Sans Pro;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 42px;
    opacity: 90%;
  }
}
.mid-cont {
  margin: 87px 120px 100px 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
  }
  h3 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin-top: 40px;
    color: #666666;
  }
  p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 40px;
  }
  button {
    display: flex;
    justify-content: center;
    font-family: Oswald;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #ffffff;
    border: none;
    background: #55c2d8;
    padding: 6px 17px;
    text-transform: uppercase;
    border-radius: 18px;
    margin-top: 35px;
    transform-origin: top left;
    transition: 1s;
    cursor: pointer;
    &:hover {
      transform: rotate(15deg);
    }
  }
  .mid-cont-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 125px;
  }
}
