@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1100px) {
  .bottom-cont {
    padding: 100px 50px !important;
  }
}

@media (max-width: 768px) {
  .navigation ul {
    display: none !important;
  }
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 50px !important;
  }
  .burger-btn {
    display: block !important;
    -ms-grid-column-align: right;
        justify-self: right;
  }
  .burger-btn img {
    max-width: 22px;
  }
  .mid-cont {
    margin: 40px !important;
  }
  .mid-cont-text {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .your-headline-here h1 {
    margin-top: 20px;
  }
  .bottom-cont button {
    padding: 20px 25px !important;
    font-size: 40px !important;
  }
  .bottom-cont {
    padding: 100px 20px !important;
  }
  footer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .mid-cont {
    margin: 40px 24px !important;
  }
}

div h1 {
  color: yellow;
  font-weight: 100;
}
.bottom-cont {
  background-image: url("/assets/Rectangle 5.png"), url("/assets/bottom-cont-image.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 84px 360px;
}

.bottom-cont h2 {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: white;
}

.bottom-cont button {
  color: white;
  padding: 32px 44px;
  font-size: 60px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #39c2d7;
  border: none;
  border-radius: 100%;
  margin: 53px 0 70px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.bottom-cont button span {
  margin-left: 7px;
}

.bottom-cont button:hover {
  background-color: white;
  color: #39c2d7;
}

.bottom-cont h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: white;
}

footer {
  background-color: #464547;
  padding: 21px 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

footer div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div:first-child img {
  max-width: 20px;
  max-height: 20px;
}

footer div:first-child h2 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
  margin: 2px 0 0 16px;
}

footer div,
footer div a {
  margin-top: 14px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

footer .address {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

footer .website-address {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

footer .copyright {
  grid-area: copyright;
  -ms-grid-column: 6;
      grid-column-start: 6;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

header {
  background-image: url("/assets/desktop_backgrounds.png"), url("/assets/top-section-image.png");
  background-size: cover;
  background-position: center, center;
}

header a {
  font-family: Source Sans Pro;
  text-decoration: none;
  color: white;
}

header .burger-btn {
  display: none;
}

header .navigation {
  padding: 30px 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

header .navigation ul {
  gap: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .navigation ul li {
  -webkit-transition: 500ms;
  transition: 500ms;
}

header .navigation ul li a {
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 16px;
  text-transform: uppercase;
}

header h3 a,
header ul li:hover {
  border-bottom: 2px solid white;
}

header h3 a {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.your-headline-here {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 180px 0 256px 0;
}

.your-headline-here img {
  max-width: 63px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.your-headline-here img:hover {
  -webkit-transform: scaleX(-1) scale(1.3);
          transform: scaleX(-1) scale(1.3);
}

.your-headline-here h1,
.your-headline-here h2 {
  font-style: normal;
  text-align: center;
}

.your-headline-here h1 {
  color: white;
  font-family: Oswald;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

.your-headline-here h2 {
  font-family: Source Sans Pro;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 42px;
  opacity: 90%;
}

.mid-cont {
  margin: 87px 120px 100px 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid-cont h2 {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}

.mid-cont h3 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-top: 40px;
  color: #666666;
}

.mid-cont p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-top: 40px;
}

.mid-cont button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Oswald;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  border: none;
  background: #55c2d8;
  padding: 6px 17px;
  text-transform: uppercase;
  border-radius: 18px;
  margin-top: 35px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.mid-cont button:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.mid-cont .mid-cont-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 125px;
}
/*# sourceMappingURL=style.css.map */